#game{
  display: table;
  margin: 0 auto;
  /*position: fixed;*/
  border: 5px solid black;
}
table tr td{
  height: 40px;
  width: 40px;
  z-index: 10;
}
h1{
  display: table;
  margin: 0 auto;
}
td{
  border: 1px solid transparent;
  padding: 0;
  background-size: 40px;
  background-repeat: no-repeat;
}

#bgDiv{
/*  display: table;
  margin: 0 auto;*/
  position: fixed;
  border: 1px solid black;
  z-index: -1;
}
.size1{
  height: 44px;
  width: 660px;
  /*border: 1px solid black;*/
}
.size2{
  height: 88px;
  width: 660px;
  /*border: 1px solid black;*/
}
.size3{
  height: 132px;
  width: 660px;
  /*border: 1px solid black;*/
}
.grass{
  background-image: url("../images/grass.jpg");
  background-size: 100px 100px;
  /*background-color: #1b5937;*/
}
.road{
  background-image: url("../images/road2.jpg");
  background-size: 40px 40px;

}

#internetCafe{
  height:130px;
  width: 650px;
}

#cafe{
  align-items: center;
  display: table;
  margin: 0 auto;
  z-index: 10;
}


