#game{
  display: table;
  margin: 0 auto;
  /*position: fixed;*/
  border: 5px solid black;
}
table tr td{
  height: 40px;
  width: 40px;
  z-index: 10;
  /*display:none;*/
}
h1{
  display: table;
  margin: 0 auto;
}
td{
  border: 1px solid transparent;
  padding: 0;
  background-size: 40px;
  background-repeat: no-repeat;
}

#bgDiv{
/*  display: table;
  margin: 0 auto;*/
  position: fixed;
  border: 1px solid black;
  z-index: -1;
}
.size1{
  height: 44px;
  width: 660px;
  /*border: 1px solid black;*/
}
.size2{
  height: 88px;
  width: 660px;
  /*border: 1px solid black;*/
}
.size3{
  height: 132px;
  width: 660px;
  /*border: 1px solid black;*/
}
.grass{
  background-image: url("../images/grass.jpg");
  background-size: 100px 100px;
  /*background-color: #1b5937;*/
}
.road{
  background-image: url("../images/road2.jpg");
  background-size: 40px 40px;

}

#topBar{
  height:130px;
  width: 650px;
}
/*Lives Stuff*/
#livesInfo{
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 30px;
}
#hearts{
  display: inline-block;
  padding-bottom: 20px;
}
#hearts img{
  height: 40px;
  width: 40px;
}
#lifeText{
  color: white;
  font-size: 30px;
  margin:0;
}

/*Cafe Stuff*/
#cafeImage{
  display: inline-block;
  margin: 0 auto;
}

#cafe{
  position: absolute;
  left: 290px;
}

/*Score Stuff*/
#scoreTitle{
  display: inline-block;
  position: absolute;
  
  right:50px;
  top: 3px;
}

#score{
  color: white;
  font-size: 30px;
  padding-left: 120px;
  display: inline-block;
}


